* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

$z-index--1: -1; // Для элементов под потоком
$z-index-1: 1; // Для наползающих элементов в общем потоке
$z-index-2: 2; // Для наползающих элементов в общем потоке
$z-index-3: 3; // Для header
$z-index-4: 4; // Для корзины
$z-index-5: 5; // Для модалок
$z-index-6: 6; // Элементы перекрывающие всё