* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

$color-main-dark: #343434;
$color-main-orange: #ff7d4e;
$color-red: #d32d2c;
$color-goods_purple: #9c91e0;
$color-goods_purple-text: #6b5ebb;
$color-goods_mint: #94d6be;
$color-goods_mint-text: #6bb0a4;
$color-goods_pink: #da91e0;
$color-goods_pink-text: #da91e0;
$color-goods_blue: #91caf2;
$color-goods_blue-text: #5f9dca;
$color-goods_orange: #f2b385;
$color-goods_orange-text: #f2b385;
$color-goods_green: #a5b3ff;
$color-goods_green-text: #a5b3ff;
$color-goods_red: #e8939d;
$color-goods_red-text: #e6463b;
$color-black: #000;
$color-white: #fff;
$color-bg: #faf8f6;
$color-border-one: #f2f2f2;
$color-border-two: #e6e6e6;
$color-gray: #c4bdb6;

$z-index--1: -1; // Для элементов под потоком
$z-index-1: 1; // Для наползающих элементов в общем потоке
$z-index-2: 2; // Для наползающих элементов в общем потоке
$z-index-3: 3; // Для header
$z-index-4: 4; // Для корзины
$z-index-5: 5; // Для модалок
$z-index-6: 6; // Элементы перекрывающие всё

.dietary {
  color: $color-goods_purple-text;
  background: $color-goods_purple;
}

.minerals {
  color: $color-goods_mint-text;
  background: $color-goods_mint;
}

.prenatal {
  color: $color-goods_pink-text;
  background: $color-goods_pink;
}

.relief {
  color: $color-goods_blue-text;
  background: $color-goods_blue;
}

.antioxidants {
  color: $color-goods_orange-text;
  background: $color-goods_orange;
}

.loss {
  color: $color-goods_green-text;
  background: $color-goods_green;
}

.probiotics {
  color: $color-goods_red-text;
  background: $color-goods_red;
}
