@import 'base/variable';
@import 'base/fonts';

@import 'base/header';

.main {
  padding: 110px 0 100px;

  &__wrapper {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #ededed;
  }

  &__container {
    width: 1394px;
    display: flex;
    gap: 138px;
  }
}

@import 'block/profile/aside';
@import 'block/profile/tabs';

@import 'block/profile/change-password';
