@import 'base/variable';
@import 'base/fonts';
@import 'base/header';
@import 'base/footer';

.main {
}

.quiz {
  display: flex;
  height: 100vh;
  overflow: hidden;
  &__left {
    width: 50%;
    background-color: $color-goods_purple-text;
    display: flex;
    justify-content: center;
    &-logo2 {
      display: none;
    }
    &-logo {
      cursor: pointer;
      position: absolute;
      width: 42px;
      height: 50px;
      left: 35px;
      top: 30px;
      z-index: 10;
    }
    &-back {
      cursor: pointer;
      left: 35px;
      bottom: 30px;
      position: absolute;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      z-index: 10;
      color: #ffffff;

      img {
        width: 9px;
        height: 12px;
        margin-right: 15px;
      }
    }
    &-questions {
      width: 496px;
      font-family: 'Effra';
      font-style: normal;
      font-weight: 500;
      font-size: 64px;
      line-height: 77px;

      color: #ffffff;
      justify-content: space-evenly;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
    }
  }
  #question2 {
    right: 33px;
  }

  &__right {
    width: 50%;
    background-color: $color-bg;
    display: flex;
    justify-content: center;
    align-items: center;

    &-form {
      text-align: center;
      border-color: white;

      label {
        margin-bottom: 29px;
        font-family: 'Open Sans';
        display: flex;
        font-weight: 400;
        font-size: 18px;
      }
      .input1-1 {
        font-family: 'Open Sans';
        display: flex;
        font-weight: 400;
        size: 18px;
      }
      input {
        border-color: white;
        width: 496px;
        height: 105px;
        padding: 5px;
        border-radius: 16px;
      }
      input[type='text'] {
        top: -14px;
        color: #000000;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 18px;
        line-height: 24.51;
        padding: 25px 20px 24px 38px;
      }
    }
    .answer {
      font-family: 'Open Sans';
      font-size: 18px;
      font-weight: 600;
      :active {
        border-color: purple;
      }
      .yes,
      .no {
        border: 1px solid #ffffff;
        cursor: pointer;
        padding: 0px 0px 10px 39px;
        display: grid;
        width: 496px;
        height: 105px;
        align-content: center;
        justify-content: start;
        background-color: #ffffff;
        margin-bottom: 24px;
        border-radius: 16px;

        @media (max-width: 768px) {
          width: 260px;
        }
      }
      .yes {
        padding: 0px 0px 2px 39px;
      }
      .vegan,
      .vegetarian,
      .protein,
      .unhealthy {
        cursor: pointer;
        padding: 20px 0px 27px 40px;
        display: grid;
        top: -3px;
        width: 496px;
        height: 105px;
        border-radius: 16px;
        background-color: #ffffff;
        margin-bottom: 20px;
        justify-items: center;
        align-items: center;
        justify-content: start;
        @media (max-width: 768px) {
          width: 260px;
          height: 120px;
        }
      }
      .protein {
        padding: 20px 103px 22px 40px;
        text-align: left;
      }
      .unhealthy {
        padding: 20px 0px 18px 40px;
      }
      .answer-1,
      .answer-2,
      .answer-3 {
        cursor: pointer;
        display: grid;
        width: 496px;
        height: 105px;
        border-radius: 16px;
        justify-items: center;
        align-items: center;
        justify-content: start;
        background-color: #ffffff;
        margin-bottom: 23px;
        @media (max-width: 768px) {
          width: 260px;
        }
      }
      .answer-1 {
        padding: 20px 40px 23px 40px;
      }
      .answer-2 {
        padding: 20px 40px 27px 40px;
      }
      .answer-3 {
        padding: 20px 40px 23px 40px;
        top: -5px;
      }

      .answer-4,
      .answer-5,
      .answer-6,
      .answer-7,
      .answer-8,
      .answer-9 {
        cursor: pointer;
        width: 330px;
        height: 105px;
        border-radius: 16px;
        text-align: start;
        background-color: #ffffff;
        margin: 10px 10px 10px 10px;
        @media (max-width: 768px) {
          width: 260px;
        }
      }
      .answer-4 {
        padding: 40px 10px 25px 40px;
      }
      .answer-5 {
        padding: 40px 10px 25px 42px;
      }
      .answer-6 {
        padding: 40px 10px 25px 40px;
      }
      .answer-7 {
        padding: 27px 15px 25px 40px;
      }
      .answer-8 {
        padding: 26px 10px 25px 40px;
      }
      .answer-9 {
        padding: 40px 10px 25px 40px;
      }
      &:active {
        border-color: purple;
      }
    }
    .answer.active {
      border-color: purple;
    }
  }
  @import 'block/quiz/figure';
}
#answer8 .answer-options {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .quiz {
    &__left {
      &-logo {
        width: 30px;
        height: 35px;
      }
      &-questions {
        font-size: 40px;
      }
    }
    &__right {
      &-form {
        input {
          width: 260px;
        }
      }
    }
  }
  .next-button {
    top: 135px;
    right: 20px;
    width: 150px;
    height: 60px;
    border-radius: 100px;
  }
  #answer8 .answer-options {
  }

  #answer8 .answer-4 {
  }
}
.next-button {
  position: absolute;
  top: 57px;
  right: 18px;
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: #ff7d4e;
  border: none;
  cursor: pointer;
}
.next-button .arrow-symbol {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 40.85px;
  color: #ffffff;
}
.question-counter {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 40.85px;
  text-align: right;
  position: absolute;
  display: flex;
  right: 35px;
  top: 35px;
  @media (max-width: 768px) {
    top: 15px;
  }
}
.question {
  display: none;
}

.question.active {
  display: block;
  border-color: #8172dd;
}
.answer:not(.active) {
  display: none;
}
.answer:first-child {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1100px) {
  .quiz {
    &__left {
      &-questions {
        width: 80%;
      }
    }
    &__right {
      &-form {
        label {
          margin-bottom: 25px;
          size: 16px;
        }
        input {
          width: 400px;
          height: 80px;
          padding: 5px;
          border-radius: 16px;
        }
        input[type='text'] {
          top: -14px;
          color: #000000;
          font-family: 'Open Sans';
          font-weight: 600;
          font-size: 18px;
          line-height: 24.51;
          padding: 20px 20px 24px 37px;
        }
      }
      .answer {
        &:active {
          border-color: purple;
        }
        .yes,
        .no {
          border: 1px solid #ffffff;
          cursor: pointer;
          padding: 0px 0px 0px 39px;
          display: grid;
          width: 306px;
          height: 105px;
          align-content: center;
          justify-content: start;
          background-color: #ffffff;
          margin-bottom: 18px;
          border-radius: 16px;
        }
        .vegan,
        .vegetarian,
        .protein,
        .unhealthy {
          cursor: pointer;
          padding: 20px 40px 25px 39px;
          display: grid;
          top: -3px;
          width: 306px;
          height: 105px;
          border-radius: 16px;
          background-color: #ffffff;
          margin-bottom: 20px;
          justify-items: center;
          align-items: center;
          justify-content: start;
        }
        .answer-1,
        .answer-2,
        .answer-3 {
          cursor: pointer;
          padding: 20px 40px 25px 39px;
          display: grid;
          width: 306px;
          height: 105px;
          border-radius: 16px;
          justify-items: center;
          align-items: center;
          justify-content: start;
          background-color: #ffffff;
          margin-bottom: 23px;
        }
        .answer-4 {
          cursor: pointer;
          padding: 20px 40px 25px 39px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          width: 330px;
          height: 105px;
          border-radius: 16px;

          background-color: #ffffff;
          margin-bottom: 10px;
        }
        &:active {
          border-color: purple;
        }
      }
      .answer.active {
        border-color: purple;
      }
    }
  }
  .next-button {
    position: absolute;
    top: 38px;
    right: 10px;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-color: #ff7d4e;
    border: none;
    cursor: pointer;
  }
  .next-button .arrow-symbol {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 40.85px;
    color: #ffffff;
  }
  .question-counter {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 40.85px;
    text-align: right;
    position: absolute;
    display: flex;
    right: 35px;
    top: 35px;
  }
}
.question-container {
  display: none;
}
@media (max-width: 579px) {
  .question-counter {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 27.85px;
    text-align: right;
    position: absolute;
    display: flex;
    right: 20px;
    top: -290px;
  }
  .question-container {
    display: flex;
  }
  #answer3 {
    top: -162px;
  }
  #answer4 {
    top: -82px;
  }
  #answer5 {
    top: -82px;
  }
  #answer6 {
    top: -118px;
  }
  #answer7 {
    top: -32px;
  }
  #answer8 {
    top: -132px;
  }
  #answer9 {
    top: 0px;
  }

  .quiz {
    background-color: #faf8f6;
    flex-direction: column;
    #a1 {
      height: 82px;
      padding: 20px;
      margin-bottom: 10px;
    }
    #a2 {
      margin-bottom: 15px;
    }
    #a3 {
      height: 82px;
      padding: 20px;
    }
    &__left {
      background-color: #faf8f6;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: 50%;
      &-logo {
        display: none;
      }
      &-logo2 {
        display: block;
        width: 33px;
        height: 40px;
        left: 20px;
        top: 15px;
        z-index: 10;
        position: absolute;
      }
      &-back {
        left: 20px;
        bottom: -290px;
        color: black;

        img {
          color: #8172dd;
          width: 9px;
          height: 12px;
          margin-right: 15px;
        }
      }
      &-questions {
        width: 496px;
        font-size: 24px;
        line-height: 28px;

        color: black;
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        text-align: center;
      }
    }
    &__right {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      height: 50%;

      &-form {
        text-align: center;
        border-color: white;

        label {
          top: 10px;
          font-weight: 400;
          font-size: 18px;
        }
        .input1-1 {
          display: none;
        }
        .input9 {
          display: none;
        }
        input {
          width: 335px;
          height: 56px;
        }
        input[type='text'] {
          top: 0;
          color: #000000;
          font-family: 'Open Sans';
          font-weight: 600;
          font-size: 18px;
          line-height: 24.51;
          padding: 15px 10px 14px 38px;
        }
      }
      .answer {
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 600;
        :active {
          border-color: purple;
        }
        #input2 {
          top: -47px;
          display: flex;
        }
        #input7 {
          display: flex;
        }
        .yes,
        .no {
          border: 1px solid #ffffff;
          cursor: pointer;
          padding: 8px 0px 10px 68px;
          display: grid;
          width: 160px;
          height: 104px;
          align-content: center;
          justify-content: start;
          background-color: #ffffff;
          margin-bottom: 24px;
          border-radius: 16px;
        }
        .yes {
          padding: 0px 0px 2px 65px;
          margin-right: 14px;
        }

        .vegan,
        .vegetarian,
        .protein,
        .unhealthy {
          cursor: pointer;
          padding: 20px 0px 27px 0px;
          display: grid;
          top: -3px;
          width: 336px;
          height: 60px;
          border-radius: 16px;
          background-color: #ffffff;
          margin-bottom: 10px;
          justify-items: center;
          align-items: center;
          justify-content: center;
        }
        .protein {
          padding: 20px 14px 22px 14px;
          text-align: center;
          height: 104px;
        }
        .unhealthy {
          padding: 20px 20px 18px 20px;
          height: 82px;
        }
        .answer-1,
        .answer-2,
        .answer-3 {
          cursor: pointer;
          display: grid;
          width: 335px;
          height: 60px;
          border-radius: 16px;
          justify-items: center;
          align-items: center;
          justify-content: center;
          background-color: #ffffff;
        }
        .answer-1 {
          padding: 20px 40px 23px 40px;
          margin-bottom: 11px;
        }
        .answer-2 {
          padding: 20px 40px 27px 40px;
          margin-bottom: 14px;
        }
        .answer-3 {
          padding: 20px 40px 23px 40px;
        }

        .answer-4,
        .answer-5,
        .answer-6,
        .answer-7,
        .answer-8,
        .answer-9 {
          width: 160px;
          height: 104px;
          border-radius: 16px;
          text-align: start;
          background-color: #ffffff;
          margin: 10px 10px 10px 10px;
          margin-bottom: 0px;
        }
        .answer-4 {
          order: 1;
          text-align: center;
          padding: 30px 10px 25px 36px;
        }
        .answer-5 {
          order: 1;
          padding: 41px 10px 25px 32px;
        }
        .answer-6 {
          order: 1;
          text-align: center;
          padding: 40px 10px 25px 10px;
        }
        .answer-7 {
          order: 1;
          padding: 20px 23px 25px 18px;
          word-break: break-word;
          text-align: center;
        }
        .answer-8 {
          text-align: center;
          order: 1;
          padding: 19px 10px 25px 15px;
        }
        .answer-9 {
          order: 1;
          padding: 41px 10px 25px 41px;
        }
        &:active {
          border-color: purple;
        }
      }
      .answer.active {
        border-color: purple;
      }
    }
    .figure {
      display: none;
    }
  }
  .next-button {
    top: 14px;
    right: 12px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #dddddd;
  }
  .next-button .arrow-symbol {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    color: #ffffff;
  }
  #question1 {
    top: -28px;
  }
  #question2 {
    top: -52px;
  }
  #question3 {
    top: -169px;
  }
  #question4 {
    top: -87px;
    text-align: center;
    padding: 0 24px 0 24px;
  }
  #question5 {
    text-align: center;
    padding: 0 24px 0 24px;
    top: -87px;
  }
  #question6 {
    top: -123px;
  }
  #question7 {
    top: -39px;
  }
  #question8 {
    padding: 0 30px 0 30px;
    top: -153px;
  }
  #question9 {
    top: -28px;
  }
}
