@import 'base/variable';
@import 'base/fonts';
@import 'base/header';
@import 'base/footer';

body {
}
.main {
}

svg {
  display: flex;
  position: absolute;
  z-index: $z-index-1;
}
.svg-1 {
  left: 30.6%;
  top: 0;
  @media (max-width: 768px) {
    left: 20.6%;
  }
  @media (max-width: 540px) {
    display: none;
  }
}
.svg-2 {
  left: 90.6%;
  top: 17.8%;
  @media (max-width: 1440px) {
    right: 10%;
    left: auto;
  }
  @media (max-width: 540px) {
    display: none;
  }
}
.svg-3 {
  left: 60.5%;
  top: 22.8%;
  @media (max-width: 1440px) {
    right: 10%;
    width: 25%;
    left: auto;
  }
  @media (max-width: 540px) {
    display: none;
  }
}
.svg-4 {
  left: 42.2%;
  top: 81.5%;
  @media (max-width: 540px) {
    display: none;
  }
}
.svg-5 {
  z-index: 2;
  left: 14%;
  top: 6.6%;
}
.svg-6 {
}
.svg-7 {
  right: 12.3%;
  top: 19.7%;
  z-index: 3;
  @media (max-width: 540px) {
    display: none;
  }
}
.svg-8 {
  left: 8.2%;
  top: 21.99%;
  @media (max-width: 540px) {
    display: none;
  }
}
.svg-9 {
  right: 0%;
  top: -19.3%;
  z-index: $z-index-2;
}
.svg-10 {
  left: 6.8%;
  top: 24.3%;
}
.svg-11 {
  right: 0;
  top: 2.6%;
}
.svg-12 {
  right: 0;
  top: 19.3%;
}

.vitamins {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: $z-index-1;
  height: 960px;

  &__text {
    flex-basis: 50%;
    padding: 0px 0 0 202px;
    top: -6px;
    @media (max-width: 1550px) {
      padding: 0px 0 0 70px;
    }
    @media (max-width: 1200px) {
      padding: 0px 0 0 20px;
    }
  }
  &__paragraph-1 {
    margin-bottom: 36px;
    width: 660px;
    height: 203px;
    font-family: 'Effra';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 68px;
    color: #000000;
    z-index: $z-index-2;
    @media (max-width: 1024px) {
      width: auto;
      margin-bottom: 75px;
    }
    @media (max-width: 690px) {
      font-size: 40px;
    }
    .color-word {
      color: $color-main-orange;
    }
  }

  &__paragraph-2 {
    width: 490px;
    height: 67px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 163.42%;

    color: #808080;
    z-index: $z-index-2;
    @media (max-width: 1024px) {
      width: auto;
    }
    @media (max-width: 690px) {
      margin: 0 0 20px 0px;
    }
  }

  &__quiz {
    margin: 48px 33px 0 0px;
    padding: 20px;
    display: inline-block;
    width: 260px;
    height: 74px;
    // display: flex;
    align-items: center;
    justify-content: center;
    background: $color-goods_purple-text;
    border-radius: 100px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 163.42%;
    text-align: center;

    color: #ffffff;
    z-index: $z-index-2;
  }

  &__link {
    top: 2px;
    display: inline-block;
    width: 135px;
    height: 25px;
    font-family: 'Effra';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    position: relative;
    color: $color-main-orange;
    z-index: $z-index-2;
    @media (max-width: 900px) {
      margin: 10px;
    }
  }

  &__link-arrow {
    right: -12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 11px;
    height: 16px;
    background-image: url(../img/index/arrow-1.png);
    background-size: cover;
    z-index: $z-index-2;
  }

  &__image {
    flex-basis: 50%;
    background: #f9f9f9;
    padding-top: 148px;
    height: 100%;
    &-item-2 {
      display: none;
    }
    @media (max-width: 1550px) {
      padding-top: 0px;
    }
  }
  &__image-item {
    object-fit: none;
    z-index: $z-index-2;
    @media (max-width: 1440px) {
      object-fit: contain;
      margin-top: 190px;
      height: 60%;
      width: 100%;
    }
  }
}

.make-easy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: $z-index-1;
  margin-bottom: 400px;
  @media (max-width: 1024px) {
    margin-bottom: 230px;
  }

  &__left {
    height: 960px;
    background-color: rgba(129, 114, 221, 1);
    flex-basis: 50%;
  }
  .pill-pack {
    background: #f5f5f5;
    width: 530px;
    height: 450px;
    display: flex;
    position: absolute;
    align-items: flex-end;
    bottom: -172px;
    right: 168px;
    z-index: $z-index-2;
    @media (max-width: 1440px) {
      right: 30px;
    }
    @media (max-width: 1200px) {
      right: -50%;
    }
    @media (max-width: 1024px) {
      bottom: -110px;
      width: 550px;
    }
    @media (max-width: 690px) {
      width: 450px;
      bottom: -50px;
      height: 420px;
    }
    &__groop {
      width: 530px;
      height: 450px;
      display: flex;
      position: absolute;
      align-items: flex-end;
      @media (max-width: 690px) {
        width: 450px;
      }

      &-item-1 {
        position: absolute;
        width: 289px;
        height: 305px;
        @media (max-width: 540px) {
          display: flex;
          width: 127.45px;
          height: 116.77px;
        }
        &:nth-child(1) {
          top: 103px;
          @media (max-width: 540px) {
            display: flex;
            width: 127.45px;
            height: 116.77px;
          }
        }
      }
      &-item-2 {
        position: absolute;
        @media (max-width: 690px) {
          width: 280px;
          height: 250px;
        }
        &:nth-child(2) {
          right: 83px;
          top: 61px;
          @media (max-width: 690px) {
            width: 280px;
            height: 250px;
            right: 75px;
            top: 95px;
          }
        }
        @media (max-width: 690px) {
          width: 280px;
          height: 250px;
        }
      }
      &-item-3 {
        position: absolute;
        &:nth-child(3) {
          right: 0px;
          top: 18px;
          @media (max-width: 690px) {
            width: 230px;
            height: 250px;
          }
          @media (max-width: 540px) {
            display: flex;
            width: 127.45px;
            height: 116.77px;
          }
        }
      }
    }
  }
  .pill-pack-2 {
    display: none;
  }
  .pills-2 {
    display: none;
  }

  &__text {
    padding: 357px 123px 0 202px;
    font-family: 'Effra';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 68px;
    z-index: $z-index-2;
    color: #ffffff;
    @media (max-width: 1440px) {
      padding: 50% 10px 0 55px;
    }
    @media (max-width: 1024px) {
      font-size: 40px;
    }
  }
  &__right {
    height: 960px;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: stretch;
    @media (max-width: 1200px) {
      height: 780px;
      justify-content: flex-start;
    }

    .group-1,
    .group-2,
    .group-3 {
      display: flex;
      align-items: center;
      flex-direction: row;
      @media (max-width: 1200px) {
        padding: 10px 10px;
        margin: 0 0 70px 0;
      }

      &__text {
        width: 444px;
        height: 73px;
        font-family: 'Effra';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        color: #000000;
        @media (max-width: 1024px) {
          font-size: 25px;
          width: auto;
        }
        @media (max-width: 690px) {
          font-size: 20px;
        }
      }
    }
    .pills {
      position: absolute;
      width: 801px;
      height: 470px;
      right: 35.8%;
      top: 89.5%;
      z-index: $z-index-1;
      @media (max-width: 1440px) {
        right: 8.8%;
      }
      @media (max-width: 1200px) {
        right: 0%;
      }
      @media (max-width: 1024px) {
        top: 80.5%;
      }
      @media (max-width: 690px) {
        width: 500px;
        height: 350px;
      }
    }
  }
  .group-1 {
    top: 31px;
    padding-left: 61px;
    padding-top: 127px;
    &__img {
      margin-right: 90px;
      height: 84px;
      width: 103px;
      @media (max-width: 1024px) {
        margin-right: 50px;
        height: 70px;
        width: 90px;
      }
    }
    &__text {
      margin-bottom: 1px;
    }
  }
  .group-2 {
    top: 19px;
    padding: 0 0 0 70px;
    &__img {
      margin-right: 96.96px;
      width: 87.04px;
      height: 97px;
      @media (max-width: 1024px) {
        margin-right: 60px;
        height: 85px;
        width: 80px;
      }
    }
  }
  .group-3 {
    padding: 0 0 179px 67px;
    &__img {
      margin-right: 95.84px;
      width: 91px;
      height: 113px;
      @media (max-width: 1024px) {
        margin-right: 60px;
        height: 85px;
        width: 80px;
      }
    }
    &__text {
      margin-bottom: 8px;
    }
  }
}

.about-yourself {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 200px 0px 200px;
  @media (max-width: 900px) {
    padding: 120px 100px 0 100px;
  }
  &__img {
    max-width: 50%;
  }
  &__info {
    padding-top: 45px;
    justify-content: center;
    display: contents;

    &__text-1 {
      padding-top: 45px;
      font-family: 'Effra';
      font-style: normal;
      font-weight: 500;
      font-size: 56px;
      line-height: 68px;
      text-align: center;

      color: #000000;
      z-index: 3;
    }
    &__text-2 {
      width: 919px;
      height: 66px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 163.42%;
      text-align: center;

      color: #808080;

      @media (max-width: 900px) {
        margin: 30px 57px 8px 58px;
        padding: 0;
        width: auto;
      }
    }
    &__button {
      margin-top: 81px;
      padding: 19px 2px 0 0px;
      width: 260px;
      height: 74px;
      border-radius: 200px;
      align-items: center;
      justify-content: center;
      background: $color-goods_purple-text;
      border-radius: 100px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 163.42%;
      text-align: center;

      color: #ffffff;
      z-index: $z-index-2;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-content: center;
      align-items: baseline;
      @media (max-width: 690px) {
        margin-top: 120px;
      }
    }
  }
}

.products {
  margin-top: 150px;
  margin-bottom: 200px;

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__swiper {
    margin: 151px 0 0 203px;
    display: flex;
    width: 833px;
    // overflow: visible;
    z-index: $z-index-2;
    @media (max-width: 1024px) {
      margin: 450px auto;
      width: 70%;
    }
    @media (max-width: 736px) {
      margin: 450px 0 0px 20px;
      width: 100%;
    }
  }
  &__swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease;
    gap: 33px;
    // overflow: hidden;
  }

  &__slide-1,
  &__slide-2 {
    flex-shrink: 0;
    width: 400px;
    height: 494px;
    border-radius: 16px;
  }
  &__slide-1 {
    background-color: $color-goods_mint;
  }
  &__slide-2 {
    background-color: $color-goods_purple-text;
  }

  &__img-1,
  &__img-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 186px;
      height: 209px;
    }
  }
  &__img-1 {
    margin-top: 64px;
  }
  &__img-2 {
    margin-top: 62px;
  }
  &__text-1 {
    margin: 47px 0px 0 29px;
    @media (max-width: 690px) {
      margin: 20px 0 0 30px;
    }
  }
  &__text-2 {
    margin: 49px 0 0 30px;
    @media (max-width: 690px) {
      margin: 18px 0 0 30px;
    }
  }
  &__text {
    &__kind {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;

      color: #ffffff;
      opacity: 0.5;
    }
    &__name {
      margin-top: 13px;
      font-family: 'Effra';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;

      color: #ffffff;
    }
    &__info {
      margin: 18px 10px 0 0;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 163.42%;

      color: #ffffff;
      opacity: 0.7;
    }
  }

  &__information {
    top: 0;
    right: 0;
    position: absolute;
    width: 900px;
    height: 825px;
    background-color: rgba(233, 148, 120, 1);

    &__text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      text-align: left;
      z-index: $z-index-2;

      margin: 234px 0px 0 254px;
    }
    &__choose {
      width: 444px;
      height: 136px;
      font-family: 'Effra';
      font-style: normal;
      font-weight: 500;
      font-size: 56px;
      line-height: 68px;

      color: #ffffff;
    }
    &__description {
      width: 444px;
      height: 131px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 163.42%;
      /* or 33px */

      color: #ffffff;
      margin-top: 31px;
    }
    &__link {
      cursor: pointer;
      width: 135px;
      height: 25px;
      font-family: 'Effra';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;

      color: #ffffff;
      margin: 33px 0 0 5px;
    }
    &__link-arrow {
      right: -12px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 11px;
      height: 16px;
      background-image: url(../img/index/arrow-2.png);
      background-size: cover;
    }
  }
  @media (max-width: 1550px) {
    height: 830px;
    &__information {
      left: 50%;
      transform: translateX(-50%);
      width: 900px;
      height: 825px;
      &__text {
        margin: 100px 100px;
      }
      &__choose {
        width: auto;
        height: auto;
      }
      &__description {
        width: 630px;
        height: auto;
      }
    }
    &__swiper {
      margin: 490px auto;
      width: 50%;
    }
    br {
      display: none;
    }
    @media (max-width: 1024px) {
      &__information {
        width: 100%;
        &__description {
          width: auto;
        }
      }
    }
  }
}

.hapy-dais {
  display: flex;
  justify-content: space-between;
  @media (max-width: 900px) {
    display: inline;
  }
  &__info {
    margin: 30px 0 0 201px;
    width: 50%;
    @media (max-width: 900px) {
      width: auto;
      margin: 30px 100px 0px 100px;
    }
    &__img {
      width: 86px;
      height: 97.73px;
    }
    &__text-1 {
      width: 670px;
      height: 136px;
      font-family: 'Effra';
      font-style: normal;
      font-weight: 500;
      font-size: 56px;
      line-height: 68px;

      color: #000000;
      margin: 40px 0 0 2px;
      @media (max-width: 900px) {
        width: auto;
      }
    }
    &__text-2 {
      width: 670px;
      height: 63px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 163.42%;
      /* or 33px */

      color: #808080;
      margin: 31px 0 0 2px;
      @media (max-width: 900px) {
        width: auto;
      }
      @media (max-width: 690px) {
        margin: 100px 0 0 2px;
      }
    }
  }
  &__img {
    right: 11.3%;
    top: -128px;
    width: 444px;
    height: 416px;
    z-index: $z-index-2;
    @media (max-width: 1400px) {
      display: none;
    }
  }
  @media (max-width: 1550px) {
    &__img {
      top: -10px;
    }
  }
}

@import 'block/index/reviews';
.get-started {
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;

  &__img {
    width: 96.6px;
    margin-top: 37px;
    margin-bottom: 45px;
  }
  &__info {
    justify-content: center;
    display: contents;

    &__text-1 {
      font-family: 'Effra';
      font-style: normal;
      font-weight: 500;
      font-size: 56px;
      line-height: 68px;
      /* identical to box height */

      text-align: center;

      color: #000000;
      z-index: 3;
    }
    &__text-2 {
      width: 918px;
      height: 66px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 163.42%;
      /* or 33px */

      text-align: center;
      color: #808080;
      margin-top: 38px;
      z-index: $z-index-2;
      @media (max-width: 900px) {
        width: auto;
      }
    }
    &__button {
      margin-top: 48px;
      padding: 20px 2px 0 0px;
      width: 260px;
      height: 74px;
      border-radius: 200px;
      align-items: center;
      justify-content: center;
      background: $color-goods_purple-text;
      border-radius: 100px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 163.42%;
      text-align: center;

      color: #ffffff;
      z-index: $z-index-2;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-content: center;
      align-items: baseline;
    }
    &__link {
      cursor: pointer;
      width: 135px;
      height: 25px;
      font-family: 'Effra';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: $color-goods_orange-text;
      margin: 33px 13px 0 0px;
    }
    &__link-arrow {
      right: -12px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 11px;
      height: 16px;
      background-image: url(../img/index/arrow-1.png);
      background-size: cover;
    }
  }
}
@media (max-width: 690px) {
  .make-easy .pill-pack__groop-item-1:nth-child(1) {
    width: 260px;
    height: 250px;
    top: 200px;
  }
  .hapy-dais__info__text-1 {
    font-size: 40px;
    height: auto;
    font-weight: 500;
  }
  .hapy-dais__info__text-2 {
    margin: 30px 0 0 2px;
    font-weight: 400px;
    font-size: 14px;
  }
  .get-started__info__text-1 {
    font-size: 40px;
    height: auto;
    font-weight: 500;
  }
  .get-started__info__text-2 {
    font-weight: 400px;
    font-size: 14px;
  }
  .get-started__info__button {
    width: 200px;
    font-size: 16px;
    height: 60px;
  }
}
@media (width: 1800px) {
  .about-yourself__info__text-1 {
    padding: 30px 57px 8px 58px;
  }
}
@media (max-width: 540px) {
  .vitamins {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    height: auto;

    &__text {
      flex-basis: auto;
      // padding: 116px 29px 0px 29px;
      padding: 116px 0px 0 0px;
    }
    &__image {
      background-color: #ffffff;
      flex-basis: auto;
      height: 337px;
      padding-top: 6px;

      &-item {
        display: none;
      }
      &-item-2 {
        display: flex;
        height: 316px;
      }
    }
    &__paragraph-1 {
      height: auto;
      font-family: 'Effra';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      margin-bottom: 14px;
      padding: 0 26px 0 26px;
    }
    &__paragraph-2 {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;

      text-align: center;
      padding: 0px 25px 0 25px;
      margin: 0;
    }
    &__quiz {
      width: 154px;
      height: 50px;
      margin: 0px 0px 0 111px;
      padding: 15px;
      font-family: 'Effra';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
    }
    &__link {
      width: 193px;
      height: 17px;
      font-family: 'Effra';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      margin: 18px 0 0 134px;
      &-arrow {
        right: auto;
        width: 7px;
        height: 10px;
        margin-left: 5px;
      }
    }
  }
  .make-easy {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;

    &__text {
      height: 198px;
      font-family: 'Effra';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      padding: 70px 25px 8px 26px;
    }
    &__left {
      .pill-pack {
        display: none;
      }
    }
    &__right {
      .pills {
        display: none;
      }
      .group-1,
      .group-2,
      .group-3 {
        align-items: flex-start;
        margin: 0;
      }
      .group-1 {
        padding: 0px 17px 10px 20px;
        &__img {
          margin-top: 8px;
          margin-right: 26px;
          width: 46.4px;
          height: 37.84px;
        }
        &__text {
          margin-top: 10px;
          font-family: 'Effra';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
        }
      }
      .group-2 {
        padding: 0px 17px 10px 24px;
        &__img {
          margin-top: 4px;
          margin-right: 29px;
          width: 39.21px;
          height: 43.69px;
        }
        &__text {
          margin-top: 9px;
          font-family: 'Effra';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
        }
      }
      .group-3 {
        padding: 0px 17px 10px 24px;
        &__img {
          margin-top: 16px;
          margin-right: 29px;
          width: 38.71px;
          height: 50.16px;
        }
        &__text {
          margin-top: 22px;
          font-family: 'Effra';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
        }
      }
    }

    .pill-pack-2 {
      display: flex;
      &__groop {
        display: flex;
        position: relative;
        width: 202.24px;
        height: 171.72px;
        background: #f5f5f5;
        top: -9px;
        right: 86px;
      }
    }
    .pill-pack__groop {
      z-index: 2;
      position: relative;
      width: 202.24px;
      height: 171.72px;
      background: #f5f5f5;
      top: -9px;
      right: 86px;
    }
    .pill-pack__groop-item-1 {
      position: absolute;
      width: 289px;
      height: 305px;
      @media (max-width: 540px) {
        display: flex;
        width: 127.45px;
        height: 116.77px;
      }
      &:nth-child(1) {
        top: 103px;
        @media (max-width: 540px) {
          display: flex;
          width: 127.45px;
          height: 116.77px;
        }
      }
    }
    .pill-pack__groop-item-1 {
      position: absolute;
      width: 289px;
      height: 305px;
      @media (max-width: 540px) {
        display: flex;
        width: 127.45px;
        height: 116.77px;
      }
      &:nth-child(1) {
        top: 103px;
        @media (max-width: 540px) {
          display: flex;
          width: 127.45px;
          height: 116.77px;
          top: 39px;
        }
      }
    }
    .pill-pack__groop-item-2 {
      position: absolute;
      width: 289px;
      height: 305px;
      @media (max-width: 540px) {
        display: flex;
        width: 127.45px;
        height: 116.77px;
      }
      &:nth-child(2) {
        top: 103px;
        @media (max-width: 540px) {
          display: flex;
          width: 127.45px;
          height: 116.77px;
          right: 32px;
          top: 23px;
        }
      }
    }
    .pill-pack__groop-item-3 {
      position: absolute;
      width: 289px;
      height: 305px;
      right: -28px;
      top: 8px;
      @media (max-width: 540px) {
        display: flex;
        width: 127.45px;
        height: 116.77px;
        right: -28px;
        top: 8px;
      }
      &:nth-child(3) {
        right: -28px;
        top: 8px;
        top: 103px;
        @media (max-width: 540px) {
          display: flex;
          width: 127.45px;
          height: 116.77px;
          right: -28px;
          top: 8px;
        }
      }
    }

    .pills-2 {
      position: absolute;
      display: flex;
      width: 293.74px;
      height: 170.44px;
      right: -85px;
      top: 58px;
    }
  }
  .about-yourself {
    padding: 115px 0 0 0;
    &__img {
      max-width: 13.5%;
    }
    &__info {
      &__text-1 {
        padding-top: 26px;
        font-family: 'Effra';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
      }
      &__text-2 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 163.42%;

        text-align: center;
        margin: 14px 25px 8px 25px;
        z-index: 2;
      }
      &__button {
        padding: 15px 2px 0 0;
        margin-top: 23px;
        width: 154px;
        height: 50px;
        font-family: 'Effra';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;

        text-align: center;
      }
    }
  }
  .products {
    margin-top: 60px;

    &__swiper {
      margin: 250px auto;
      width: 90%;
    }
    &__swiper-wrapper {
      display: flex;
      transition: transform 0.3s ease;
      gap: 33px;
    }

    &__slide-1,
    &__slide-2 {
      flex-shrink: 0;
      width: 400px;
      height: 494px;
      border-radius: 16px;
    }
    &__slide-1 {
      background-color: $color-goods_mint;
    }
    &__slide-2 {
      background-color: $color-goods_purple-text;
    }

    &__img-1,
    &__img-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 186px;
        height: 209px;
      }
    }
    &__img-1 {
      margin-top: 64px;
    }
    &__img-2 {
      margin-top: 62px;
    }
    &__text-1 {
      margin: 47px 0px 0 29px;
      @media (max-width: 690px) {
        margin: 20px 0 0 30px;
      }
    }
    &__text-2 {
      margin: 49px 0 0 30px;
      @media (max-width: 690px) {
        margin: 18px 0 0 30px;
      }
    }
    &__text {
      &__kind {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;

        color: #ffffff;
        opacity: 0.5;
      }
      &__name {
        margin-top: 13px;
        font-family: 'Effra';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;

        color: #ffffff;
      }
      &__info {
        margin: 18px 10px 0 0;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 163.42%;

        color: #ffffff;
        opacity: 0.7;
      }
    }
    &__information {
      &__text {
        margin: auto;
      }
      &__choose {
        margin: 60px 0 0 70px;
        font-family: 'Effra';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;

        text-align: center;
      }
      &__description {
        margin: 14px 25px 0px 25px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;

        text-align: center;
      }
      &__link {
        margin: 22px 0 0 134px;
        font-family: 'Effra';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        &-arrow {
          right: 32px;
          position: absolute;
          top: 40%;
          width: 7px;
          height: 11px;
        }
      }
    }
  }
}
@media (max-width: 425px) {
  .about-yourself {
    &__info {
      &__text-1 {
        padding-top: 25px;
      }
    }
  }
  .products {
    height: 630px;
    margin-bottom: 0;
    margin-top: 60px;

    &__swiper {
      margin: 250px auto;
      width: 90%;
    }
    &__swiper-wrapper {
      display: flex;
      transition: transform 0.3s ease;
      gap: 33px;
    }

    &__slide-1,
    &__slide-2 {
      height: 352px;
      width: 311px;
    }

    &__img-1,
    &__img-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 142.64px;
        height: 159.33px;
      }
    }
    &__img-1 {
      margin-top: 29px;
    }
    &__img-2 {
      margin-top: 29px;
    }
    &__text-1 {
      margin: 23px 0 0 20px;
    }
    &__text-2 {
      margin: 23px 0 0 20px;
    }
    &__text {
      &__kind {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;

        color: #ffffff;
        opacity: 0.5;
      }
      &__name {
        margin-top: 10px;
        font-family: 'Effra';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;

        color: #ffffff;
      }
      &__info {
        margin: 15px 10px 0 0;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19.07px;

        color: #ffffff;
        opacity: 0.7;
      }
    }
    &__information {
      height: 370px;
    }
  }
  .hapy-dais {
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      margin: 31px 10px 0px 10px;

      &__img {
        width: 50px;
        height: 56px;
      }
      &__text-1 {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin: 31px 59px 0 73px;
      }
      &__text-2 {
        font-weight: 400;
        font-size: 14px;
        line-height: 22.42px;
        color: #808080;

        margin: 15px 18px 0 19px;
      }
    }
    &__img {
      right: 11.3%;
      top: -128px;
      width: 444px;
      height: 416px;
      z-index: $z-index-2;
    }
  }
  .get-started {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 56px;

    &__img {
      margin: 61px 21px 27px 5px;
      width: 50px;
    }
    &__info {
      justify-content: center;
      display: contents;

      &__text-1 {
        font-family: 'Effra';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

        color: #000000;
        z-index: 3;
      }
      &__text-2 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22.42px;
        text-align: center;
        color: #808080;
        margin-top: 14px;
        z-index: 2;
        padding: 0 23px 0 23px;
      }
      &__button {
        margin-top: 24px;
        padding: 15px 1px 0 0px;
        width: 154px;
        height: 50px;
        border-radius: 200px;
        align-items: center;
        justify-content: center;
        background: $color-goods_purple-text;
        border-radius: 100px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19.3px;
        text-align: center;

        color: #ffffff;
        z-index: $z-index-2;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-content: center;
        align-items: baseline;
      }
      &__link {
        cursor: pointer;
        width: 135px;
        height: 25px;
        font-family: 'Effra';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16.88px;
        color: $color-goods_orange-text;
        margin: 20px 13px 0 41px;
        z-index: 3;
      }
      &__link-arrow {
        right: 31px;
        position: absolute;
        top: 38%;
        transform: translateY(-50%);
        width: 9px;
        height: 13px;
        background-image: url(../img/index/arrow-1.png);
        background-size: cover;
      }
    }
  }
}
@media (max-width: 370px) {
  .vitamins {
    &__paragraph-1 {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 14px;
      padding: 0 26px 0 26px;
    }
    &__image {
      background-color: #ffffff;
      flex-basis: auto;
      height: 290px;

      &-item {
        display: none;
      }
      &-item-2 {
        display: flex;
        height: 270px;
      }
    }
    &__quiz {
      width: 154px;
      height: 50px;
      margin: 23px 0 0 83px;
      padding: 15px;
      font-family: 'Effra';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
    }
    &__link {
      width: 135px;
      height: 17px;
      font-family: 'Effra';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      margin: 18px 0 0 106px;

      &-arrow {
        right: auto;
        width: 7px;
        height: 10px;
        margin-left: 5px;
      }
    }
  }
  .make-easy {
    &__text {
      padding: 70px 5px 8px 5px;
    }
    &__left {
      .pill-pack {
        display: none;
      }
    }
    &__right {
      .pills {
        display: none;
      }
      .group-1,
      .group-2,
      .group-3 {
        align-items: flex-start;
        margin: 0;
      }
      .group-1 {
        padding: 0px 17px 10px 20px;
        &__img {
          margin-top: 8px;
          margin-right: 26px;
          width: 46.4px;
          height: 37.84px;
        }
        &__text {
          margin-top: 10px;
          font-family: 'Effra';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
        }
      }
      .group-2 {
        padding: 0px 17px 10px 24px;
        &__img {
          margin-top: 4px;
          margin-right: 29px;
          width: 39.21px;
          height: 43.69px;
        }
        &__text {
          margin-top: 9px;
          font-family: 'Effra';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
        }
      }
      .group-3 {
        padding: 0px 17px 10px 24px;
        &__img {
          margin-top: 16px;
          margin-right: 29px;
          width: 38.71px;
          height: 50.16px;
        }
        &__text {
          margin-top: 22px;
          font-family: 'Effra';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
        }
      }
    }

    .pill-pack-2 {
      display: flex;
      &__groop {
        display: flex;
        position: relative;
        width: 202.24px;
        height: 171.72px;
        background: #f5f5f5;
        top: -9px;
        right: 86px;
      }
    }
    .pill-pack__groop {
      z-index: 2;
      width: 188.24px;
      height: 144.72px;
      top: -9px;
      right: 86px;
    }
    .pill-pack__groop-item-1 {
      position: absolute;
      width: 289px;
      height: 305px;
      @media (max-width: 540px) {
        display: flex;
        width: 127.45px;
        height: 116.77px;
      }
      &:nth-child(1) {
        top: 103px;
        @media (max-width: 540px) {
          display: flex;
          width: 127.45px;
          height: 116.77px;
        }
      }
    }
    .pill-pack__groop-item-1 {
      position: absolute;
      width: 289px;
      height: 305px;
      @media (max-width: 540px) {
        display: flex;
        width: 110px;
        height: 97px;
        top: 46px;
        right: 65px;
      }
      &:nth-child(1) {
        top: 46px;
        @media (max-width: 540px) {
          display: flex;
          width: 110px;
          height: 97px;
          top: 34px;
          right: 58px;
        }
      }
    }
    .pill-pack__groop-item-2 {
      position: absolute;
      width: 289px;
      height: 305px;
      @media (max-width: 540px) {
        display: flex;
        width: 127.45px;
        height: 116.77px;
      }
      &:nth-child(2) {
        top: 103px;
        @media (max-width: 540px) {
          display: flex;
          width: 106px;
          height: 97px;
          right: 26px;
          top: 20px;
        }
      }
    }
    .pill-pack__groop-item-3 {
      position: absolute;
      width: 289px;
      height: 305px;
      right: -28px;
      top: 8px;
      @media (max-width: 540px) {
        display: flex;
        width: 127.45px;
        height: 116.77px;
        right: -28px;
        top: 8px;
      }
      &:nth-child(3) {
        right: -28px;
        top: 8px;
        top: 103px;
        @media (max-width: 540px) {
          width: 106px;
          height: 97px;
          right: -25px;
          top: 7px;
        }
      }
    }

    .pills-2 {
      width: 250px;
      height: 150.5px;
      right: -66px;
      top: 39px;
    }
  }
  .about-yourself {
    .svg-12 {
      top: 10.6%;
    }
    padding: 106px 0 0 0;
    &__img {
      max-width: 15.5%;
    }
    &__info {
      &__text-1 {
        padding: 25px 15px 0 15px;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        z-index: 3;
      }
      &__text-2 {
        margin: 14px 21px 8px 21px;
        padding: 0;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22.88px;
        text-align: center;
      }
      &__button {
        margin-top: 39px;
        padding: 15px 0px 0 0px;
        width: 154px;
        height: 50px;
      }
    }
  }
  .products {
    &__swiper {
      margin: 271px auto;
      width: 88%;
    }
    &__swiper-wrapper {
      gap: 33px;
    }

    &__slide-1,
    &__slide-2 {
      height: 367px;
      width: 335px;
    }

    &__img-1,
    &__img-2 {
      right: 27px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 142.64px;
        height: 159.33px;
      }
    }
    &__information {
      height: 370px;
      &__link {
        margin: 21px 0 0 106px;
      }
    }
    .products__information__choose {
      margin: 60px 0 0 43px;
    }
  }
  .hapy-dais {
    &__info {
      margin: 70px 10px 0 10px;

      &__text-1 {
        text-align: center;
        margin: 30px 0px 0px 2px;
      }
      &__text-2 {
        text-align: center;
        margin: 15px 12px 0 12px;
      }
    }
  }
  .get-started {
    margin-bottom: 38px;
    &__img {
      margin: 42px 7px 26px 5px;
      width: 50px;
    }
    &__info {
      &__button {
        margin-top: 48px;
      }
    }
  }
}
