@import 'base/variable';
@import 'base/fonts';

body {
  background: $color-bg;
}

.header {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;

  &__logo {
    width: 42px;
    height: 50px;
  }
}
.main {
  margin-top: 83px;
  width: 100%;
  display: flex;
  justify-content: center;

  &__container {
    padding: 60px 119px;
    width: 920px;
    background: $color-white;
  }

  &__wrapper {
    width: 100%;
  }

  &__title {
    font-family: 'Effra';
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
  }

  &__subtitle {
    margin-top: 8px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
  }

  &__divider {
    margin-top: 40px;
    font-family: 'Effra';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $color-black;

    &::before,
    &::after {
      content: '';
      width: calc(241px * 100% / 682px);
      height: 1px;
      background: $color-border-one;

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      left: 0px;
    }

    &::after {
      right: 0px;
    }
  }

  &__auth {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  &__auth-item {
    padding-left: 21px;
    width: 206px;
    height: 65px;
    display: flex;
    align-items: center;
    background: $color-bg;
    border-radius: 12px;

    span {
      width: 142px;
      font-family: 'Effra';
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: $color-black;
    }
  }

  &__img-google {
    margin-right: 5px;
    width: 22px;
    height: 21.87px;
  }

  &__img-apple {
    margin-right: 6px;
    width: 20px;
    height: 25px;
  }

  &__img-facebook {
    margin-right: 4px;
    height: 23.85px;
    width: 24px;
  }
}
.form {
  margin: 0 auto;
  margin-top: 22px;
  width: 444px;

  &__input-email,
  &__input-password {
    padding-left: 24px;
    width: 100%;
    height: 56px;
    background: $color-bg;
    border: none;
    border-radius: 12px;

    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: $color-black;

    &:focus {
      outline: none;
    }
  }

  &__password {
    margin-top: 15px;
    display: flex;
  }

  &__link {
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;

    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: $color-black;
    opacity: 0.5;
  }

  &__btn {
    margin: 0 auto;
    margin-top: 21px;
    width: 270px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: $color-main-orange;
    border: 1px solid $color-main-orange;
    border-radius: 100px;

    font-family: 'Effra';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $color-white;

    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background: $color-white;
      color: $color-black;
    }
  }
}
.footer {
  margin: 83px 0 40px;
  &__create {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $color-black;
  }

  &__link {
    color: $color-main-orange;
  }
}

@media (max-width: 930px) {
  .main {
    padding: 0 25px;
    &__container {
      padding: 60px 0;
      width: 100%;
    }
    &__wrapper {
      margin: 0 auto;
      width: 652px;
    }
  }
}
@media (max-width: 768px) {
  .main {
    margin-top: 40px;

    &__wrapper {
      width: 100%;
    }

    &__divider {
      &::before,
      &::after {
        width: 82px;
      }
      &::before {
        left: 20px;
      }

      &::after {
        right: 20px;
      }
    }

    &__auth {
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }
    &__auth-item {
      padding-left: 0;
      width: 325px;
      justify-content: center;
    }

    &__img-google,
    &__img-apple,
    &__img-facebook {
      margin-right: 5px;
    }
  }
  .footer {
    margin: 40px 0;
  }
}

@media (max-width: 520px) {
  body {
    padding: 0 20px;
    background: $color-white;
  }
  .header {
    margin-top: 23px;
    padding-bottom: 35px;
    border-bottom: 1px solid $color-border-one;

    &__logo {
      width: 30px;
      height: 35px;
    }
  }
  .main {
    margin-top: 50px;
    padding: 0;

    &__title {
      font-size: 24px;
      line-height: 29px;
    }
    &__subtitle {
      margin-top: 10px;
      font-size: 14px;
      line-height: 19px;
    }
    &__container {
      padding: 0;
    }
    &__divider {
      font-size: 16px;
      line-height: 19px;

      &::before {
        left: 0px;
      }

      &::after {
        right: 0px;
      }
    }

    &__auth-item {
      width: 100%;
      height: 56px;

      span {
        padding-right: 28px;
        width: 267px;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
  .form {
    margin-top: 20px;
    width: 100%;

    &__password {
      margin-top: 10px;
    }

    &__btn {
      margin-top: 20px;
      width: 100%;
      height: 56px;

      font-size: 16px;
      line-height: 19px;
    }
  }
  .footer {
    margin: 50px auto 40px;
    padding-top: 40px;
    width: 100%;
    border-top: 1px solid $color-border-one;

    &__create {
      font-size: 14px;
      line-height: 19px;
    }
  }
}

@media (max-width: 340px) {
  .main {
    &__divider {
      &::before,
      &::after {
        width: 55px;
      }
    }
    &__auth-item {
      span {
        width: 210px;
      }
    }
  }
  .footer {
    width: 280px;
  }
}
