@import 'base/variable';
@import 'base/fonts';

body {
  background: $color-bg;
}
.header {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;

  &__logo {
    width: 42px;
    height: 50px;
  }
}
.main {
  margin-top: 210px;
  width: 100%;
  display: flex;
  justify-content: center;

  &__container {
    padding: 60px 238px;
    width: 920px;
    background: $color-white;
  }

  &__wrapper {
    width: 100%;
  }

  &__title {
    font-family: 'Effra';
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: $color-black;
  }

  &__subtitle {
    margin-top: 8px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: $color-black;
  }
}

.form {
  margin: 0 auto;
  margin-top: 22px;
  width: 444px;

  &__input {
    padding-left: 24px;
    width: 100%;
    height: 56px;
    background: $color-bg;
    border: none;
    border-radius: 12px;

    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: $color-black;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    margin: 0 auto;
    margin-top: 20px;
    width: 270px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: $color-main-orange;
    border: 1px solid $color-main-orange;
    border-radius: 100px;

    font-family: 'Effra';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $color-white;

    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background: $color-white;
      color: $color-black;
    }
  }
}

.footer {
  margin: 226px 0 40px;
  &__create {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $color-black;
  }

  &__link {
    color: $color-main-orange;
  }
}

@media (max-width: 930px) {
  .main {
    margin-top: 100px;
    padding: 0 25px;
    &__container {
      padding: 60px 0;
      width: 100%;
    }
    &__wrapper {
      margin: 0 auto;
      width: 652px;
    }
  }
  .footer {
    margin-top: 116px;
  }
}
@media (max-width: 768px) {
  .main {
    margin-top: 40px;

    &__wrapper {
      width: 100%;
    }
  }
  .footer {
    margin: 40px 0;
  }
}
@media (max-width: 520px) {
  body {
    padding: 0 20px;
    background: $color-white;
  }
  .header {
    margin-top: 23px;
    padding-bottom: 35px;
    border-bottom: 1px solid $color-border;

    &__logo {
      width: 30px;
      height: 35px;
    }
  }
  .main {
    margin-top: 50px;
    padding: 0;

    &__title {
      font-size: 24px;
      line-height: 29px;
    }
    &__subtitle {
      margin-top: 10px;
      font-size: 14px;
      line-height: 19px;
    }
    &__container {
      padding: 0;
    }
  }
  .form {
    margin-top: 20px;
    width: 100%;

    &__btn {
      margin-top: 20px;
      width: 100%;
      height: 56px;

      font-size: 16px;
      line-height: 19px;
    }
  }
  .footer {
    margin: 20px auto 40px;
    width: 100%;

    &__create {
      font-size: 14px;
      line-height: 19px;
    }
  }
}