@import 'base/variable';
@import 'base/fonts';
@import 'base/header';
@import 'base/footer';

.main {
}
.quiz {
  display: flex;
  height: 100vh;
  overflow: hidden;
  &__left {
    width: 50%;
    background-color: $color-goods_purple-text;
    display: flex;
    justify-content: center;

    &-logo {
      cursor: pointer;
      position: absolute;
      width: 42px;
      height: 50px;
      // left: 30px;
      // top: 35px;
      left: 35px;
      top: 30px;
    }
    &-back {
      cursor: pointer;
      left: 35px;
      bottom: 30px;
      position: absolute;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;

      color: #ffffff;

      img {
        width: 10px;
        height: 15px;
        margin-right: 10px;
      }
    }
    &-questions {
      width: 496px;
      font-family: 'Effra';
      font-style: normal;
      font-weight: 500;
      font-size: 64px;
      line-height: 77px;

      color: #ffffff;
      justify-content: space-evenly;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
    }
  }

  &__right {
    width: 50%;
    background-color: $color-bg;
    display: flex;
    justify-content: center;
    align-items: center;

    .quiz__right-form {
      text-align: center;
      margin-left: 74px;
      border-color: white;

      label {
        margin-bottom: 30px;
        font-family: 'Open Sans';
        display: flex;
        font-weight: 400;
        size: 18px;
      }
      .input1-1 {
        font-family: 'Open Sans';
        display: flex;
        font-weight: 400;
        size: 18px;
      }
      input {
        border-color: white;
        width: 496px;
        height: 105px;
        padding: 5px;
        border-radius: 16px;
      }
      input[type='text'] {
        top: -14px;
        color: #000000;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 18px;
        line-height: 24.51;
        padding: 20px 20px 24px 37px;
      }
    }
    .answer {
      .yes,
      .no {
        display: flex;
        width: 496px;
        height: 105px;
        border-radius: 16px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        background-color: #ffffff;
        margin-bottom: 10px;
      }
    }
  }
}
.next-button {
  position: absolute;
  top: 55px;
  right: 10px;
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: #ff7d4e;
  border: none;
  cursor: pointer;
}
.next-button .arrow-symbol {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 40.85px;
  color: #ffffff;
}
.question-counter {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 40.85px;
  text-align: right;
  position: absolute;
  display: flex;
  right: 35px;
  top: 35px;
}
.question {
  display: none;
}

.question.active {
  display: block;
}
.answer:not(.active) {
  display: none;
}
.answer:first-child {
  display: block;
}
