@import 'base/variable';
@import 'base/fonts';

@import 'base/header';
@import 'block/menu/menu';
@import 'base/cart';

.main {
  padding: 110px 0 100px;
  overflow: hidden;

  &__wrapper {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #ededed;

    @media (max-width: 1440px) {
      padding: 40px 23px 0;
    }

    @media (max-width: 845px) {
      padding: 0 20px;
      border: none;
    }
  }

  &__container {
    width: 1394px;
    display: flex;
    gap: 138px;

    &_subscriptions {
      @media (max-width: 1135px) {
        gap: 50px;
      }
      @media (max-width: 838px) {
        gap: 20px;
      }
    }

    &_orders {
      @media (max-width: 935px) {
        gap: 40px;
      }

      @media (max-width: 838px) {
        gap: 20px;
      }
    }

    &_account {
      @media (max-width: 1324px) {
        gap: 40px;
      }
      @media (max-width: 935px) {
        gap: 0px;
      }
    }

    &_payment {
      @media (max-width: 1072px) {
        gap: 40px;
      }
    }

    &_password {
      @media (max-width: 845px) {
        gap: 50px;
      }
    }
  }
}

.toast {
  padding: 0 50px 0 40px;
  width: 336px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #a2c94f;
  border-radius: 12px;

  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: $color-white;

  position: fixed;
  top: 27px;
  left: calc(100% / 2 - (336px / 2));
  z-index: $z-index--1;

  opacity: 0;

  &_show {
    opacity: 1;
    z-index: $z-index-5;
  }

  .animate__animated.animate__fadeInDown,
  .animate__animated.animate__fadeOutUp {
    --animate-duration: 0.4s;
  }
}

@import 'block/profile/aside';
@import 'block/profile/tabs';

@import 'block/profile/subscriptions';
@import 'block/profile/orders';
@import 'block/profile/account';
@import 'block/profile/payment';
@import 'block/profile/change-password';

@import 'base/footer';
