@import 'base/variable';
@import 'base/fonts';

.header {
  margin: 0 auto;
  margin-left: 202px;
  padding-top: 30px;
  display: flex;
  &__logo {
    width: 42px;
    height: 50px;

    @media (max-width: 768px) {
      width: 33.6px;
      height: 40px;
    }
  }

  @media (max-width: 1440px) {
    margin-left: 102px;
  }

  @media (max-width: 768px) {
    margin: 0;
    padding: 15px 0;
    justify-content: center;
  }
}

.main {
  margin-top: 80px;
  &__container {
    margin: 0 auto;
    width: 1396px;

    display: flex;
    justify-content: space-between;
  }
  &__form {
    width: 920px;
  }
  &__btn {
    margin: 0 auto;
    margin-top: 20px;
    width: 335px;
    height: 56px;

    display: none;
    align-items: center;
    justify-content: center;

    background: $color-main-orange;
    border: 1px solid $color-main-orange;
    border-radius: 100px;

    font-family: 'Effra';
    font-size: 16px;
    font-weight: 700;
    color: $color-white;

    cursor: pointer;

    transition: all 0.2s;

    &:hover {
      background: $color-white;
      color: $color-black;
    }

    &_disable {
      background: $color-gray;
      border-color: $color-gray;
      cursor: default;
      &:hover {
        background: $color-gray;
        color: $color-white;
        cursor: default;
      }
    }

    @media (max-width: 960px) {
      display: flex;
    }

    @media (max-width: 355px) {
      width: 279px;
    }
  }

  @media (max-width: 1440px) {
    padding: 0 20px;
    &__container {
      width: 100%;
    }
  }

  @media (max-width: 960px) {
    margin-top: 0;
    &__container {
      flex-direction: column-reverse;
    }
    &__form {
      padding: 0 20px;
      width: 100%;
    }
  }

  @media (max-width: 425px) {
    padding: 0;
  }
}

@import 'block/ordering/delivery';
@import 'block/ordering/billing';
@import 'block/ordering/bill';

.footer {
  margin: 58px auto 0 calc(203px * 100% / 1800px);
  padding: 30px 0;
  width: 920px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid $color-border-one;

  @media (max-width: 1188px) {
    margin: 58px auto 0;
    padding: 30px 0;
  }

  @media (max-width: 940px) {
    padding: 30px 0 50px;
    width: 100%;
    flex-direction: column-reverse;
    gap: 30px;
  }

  @media (max-width: 550px) {
    margin-top: 40px;
  }

  &__policy {
    display: flex;
    gap: 30px;

    @media (max-width: 550px) {
      width: 204px;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px 30px;
    }
  }

  &__link {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $color-black;
    opacity: 0.5;

    transition: all 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  &__img {
    width: 334.78px;
    height: 34px;

    @media (max-width: 350px) {
      width: 280.001px;
      height: 28px;
    }
  }
}
