.poster {
  &__slider {
    overflow: visible;
  }

  &__slider-wrapper {
  }

  &__slider-slide {
    padding-left: 70px;
    width: 1396px;
    height: 472px;
    display: flex;
    align-items: center;

    border-radius: 24px;

    transition: all 0.5s;

    &_first {
      background: #8172dd;
    }
    &_second {
      background: #9c91e0;
    }
    &_third {
      background: #5f9dca;
    }
  }

  &__container {
    width: 660px;
  }

  &__caption {
    margin-bottom: 15px;
    font-family: 'Effra';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $color-white;
    opacity: 0.7;
  }

  &__title {
    font-family: 'Effra';
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: $color-white;
  }

  &__subtitle {
    margin-top: 20px;
    width: 416px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba($color: $color-white, $alpha: 0.7);
  }

  &__link {
    margin-top: 30px;
    width: 255px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: $color-white;
    border-radius: 100px;
    border: 1px solid $color-white;

    font-family: 'Effra';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $color-black;

    transition: all 0.2s;

    &:hover {
      background: transparent;
      color: $color-white;
    }
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    img {
      vertical-align: bottom;
    }

    &_mob {
      display: none;
    }
  }

  &__img-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: $z-index--1;
    img {
      vertical-align: bottom;
    }

    &_mob {
      display: none;
    }
  }

  &__circle-bg {
    width: 100px;
    height: 100px;
    background: #ffca78;
    border-radius: 50%;

    position: absolute;
    top: -28px;
    right: 470px;
  }

  &__ellipse-bg {
    position: absolute;
    bottom: 0;
    left: 476px;
    img {
      vertical-align: bottom;
    }
  }

  &__slider-pagination {
    display: none;
  }

  &__slider-btn-prev,
  &__slider-btn-next {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: $color-white;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

    top: 48.7%;

    &::after {
      display: none;
    }
  }

  &__slider-btn-prev {
    left: 168px;
  }
  &__slider-btn-next {
    right: 167px;
  }
}
.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.2;
}

.swiper-pagination-bullet {
  margin: 0 12px !important;
  background: #ffffff;
  opacity: 0.3;
  &-active {
    opacity: 1;
  }
}

@media (max-width: 1799px) {
  .poster {
    &__slider-btn-prev {
      left: 68px;
    }
    &__slider-btn-next {
      right: 67px;
    }
  }
}

@media (max-width: 1574px) {
  .poster {
    &__slider-slide {
      width: calc(1396px * 100% / 1574px);
    }
    &__slider-btn-prev {
      left: 38px;
    }
    &__slider-btn-next {
      right: 37px;
    }
  }
}

@media (max-width: 1348px) {
  .poster {
    &__img {
      width: 50%;
      bottom: auto;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@media (max-width: 1024px) {
  .poster {
    &__slider-slide {
      padding-left: 30px;
      width: 100%;
    }

    &__title {
      width: 416px;
      font-size: 30px;
      line-height: 40px;
    }

    &__img {
      width: 500px;
    }

    &__circle-bg {
      right: 165px;
    }

    &__ellipse-bg {
      left: 176px;
      z-index: -1;
    }

    &__slider-btn-prev,
    &__slider-btn-next {
      display: none;
    }

    &__slider-pagination {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .poster {
    &__slider-slide {
      padding-left: 0;
      height: 630px;
      flex-direction: column-reverse;
      justify-content: flex-end;
      border-radius: 0;
    }

    &__container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      text-align: center;
    }

    &__subtitle {
      text-align: center;
    }

    &__img {
      width: 100%;
      height: 300px;
      position: relative;
      top: 0;
      left: 0;
      transform: translateY(0);
      
      img {
        object-fit: contain;
      }
      &_first {
        display: none;
      }
      &_mob {
        display: block;
      }
    }

    &__img-bg {
      display: none;
      &_mob {
        width: 100%;
        display: block;

        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &__circle-bg {
      display: none;
    }

    &__ellipse-bg {
      display: none;
    }
  }
}

@media (max-width: 550px) {
  .poster {
    &__slider-slide {
      height: 476px;
    }
    &__caption {
      font-size: 16px;
      line-height: 19px;
    }
    &__title {
      padding: 0 20px;
      width: 100%;
      font-size: 24px;
      line-height: 29px;
    }
    &__subtitle {
      margin-top: 15px;
      padding: 0 20px;
      width: 100%;
      font-size: 14px;
      line-height: 19px;
    }
    &__link {
      margin-top: 20px;
      width: 154px;
      height: 50px;

      font-size: 16px;
      line-height: 19px;
    }

    &__img {
      height: 240px;
    }
  }
}

@media (max-width: 425px) {
  .poster {
    &__container {
      &_first {
        margin-top: 42px;
      }
    }
  }
  .swiper-pagination {
    bottom: 25px !important;
  }
}

@media (max-width: 360px) {
    .poster {
      &__slider-slide {
        height: 464px;
      }
      &__container{
        &_first{
          margin-top: 11px;
        }
      }
      &__img {
        height: 180px;
      }
    }
}