.poster {
  &__slider {
    overflow: visible;
  }

  &__slider-wrapper {
  }

  &__slider-slide {
    padding-left: 70px;
    width: 1396px;
    height: 472px;
    display: flex;
    align-items: center;

    border-radius: 24px;

    transition: all 0.5s;

    &_first {
      background: #8172dd;
    }
    &_second {
      background: #9c91e0;
    }
    &_third {
      background: #5f9dca;
    }
  }

  &__container {
    width: 660px;
  }

  &__caption {
    margin-bottom: 15px;
    font-family: 'Effra';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $color-white;
    opacity: 0.7;
  }

  &__title {
    font-family: 'Effra';
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: $color-white;
  }

  &__subtitle {
    margin-top: 20px;
    width: 416px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba($color: $color-white, $alpha: 0.7);
  }

  &__link {
    margin-top: 30px;
    width: 255px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: $color-white;
    border-radius: 100px;
    border: 1px solid $color-white;

    font-family: 'Effra';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $color-black;

    transition: all 0.2s;

    &:hover {
      background: transparent;
      color: $color-white;
    }
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    img {
      vertical-align: bottom;
    }
  }

  &__img-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: $z-index--1;
    img {
      vertical-align: bottom;
    }
  }

  &__circle-bg {
    width: 100px;
    height: 100px;
    background: #ffca78;
    border-radius: 50%;

    position: absolute;
    top: -28px;
    right: 470px;
  }

  &__ellipse-bg {
    position: absolute;
    bottom: 0;
    left: 476px;
    img {
      vertical-align: bottom;
    }
  }

  &__slider-pagination {
    display: none;
  }

  &__slider-btn-prev,
  &__slider-btn-next {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: $color-white;
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

    top: 48.7%;

    &::after {
      display: none;
    }
  }

  &__slider-btn-prev {
    left: 168px;
  }
  &__slider-btn-next {
    right: 167px;
  }
}
.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.2;
}
