.vitamins {
  max-width: 1039px;

  &__group {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  &__item {
    width: 325px;

    background: $color-bg;
    border-radius: 16px;
		box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    overflow: hidden;
  }

  &__img {
    padding: 40px 30px 0;
    img {
      object-fit: contain;
    }
  }

  &__info {
    padding: 37px 30px 30px;
  }

  &__tag {
    background: transparent;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }

  &__name {
    margin-top: 12px;
    font-family: 'Effra';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $color-black;
  }

  &__price {
    margin-top: 39px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: $color-black;
  }
}
