.vitamins {
  max-width: 1039px;

  &__group {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    overflow: hidden;

    transition: height 0.2s;
  }

  &__item {
    width: 325px;

    background: $color-bg;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    overflow: hidden;

    &_hide {
      display: none;
    }
  }

  &__img {
    padding: 40px 30px 0;
    img {
      object-fit: contain;
    }
  }

  &__info {
    padding: 37px 30px 30px;
  }

  &__tag {
    background: transparent;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }

  &__name {
    margin-top: 12px;
    height: 49px;
    font-family: 'Effra';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $color-black;
  }

  &__price {
    margin-top: 15px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: $color-black;
  }

  &__sale {
    width: 51px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: $color-red;
    border-radius: 4px;

    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: $color-white;

    position: absolute;
    top: 32px;
    right: 30px;
  }

  &__btn {
    margin-top: 30px;
    width: 100%;
    height: 50px;

    display: none;
    align-items: center;
    justify-content: center;

    background: $color-bg;
    border-radius: 40px;

    font-family: 'Effra';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $color-black;

    svg {
      margin-left: 12px;
      transition: all 0.2s;
    }

    &_active {
      svg {
        transform: rotate(-180deg);
      }
    }
  }
}

@media (max-width: 1348px) {
  .vitamins {
    width: 632px;
    &__item {
      width: 300px;
    }
  }
}
@media (max-width: 1024px) {
  .vitamins {
    padding: 0 20px;
    width: 100%;
    &__group {
      justify-content: center;
    }
  }
}

@media (max-width: 550px) {
  .vitamins {
    &__group {
      gap: 15px;
    }
    &__item {
      width: 160px;
      height: 279px;
    }
    &__img {
      padding: 10px 15px 0;
    }
    &__info {
      padding: 12px 15px 20px;
    }
    &__tag {
      height: 33px;
      font-size: 12px;
      line-height: 16px;
    }
    &__name {
      margin-top: 10px;
      height: 39px;
      font-size: 16px;
      line-height: 19px;
    }
    &__price {
      margin-top: 15px;
      font-size: 16px;
      line-height: 22px;
    }
    &__sale {
      width: 36px;
      height: 22px;

      font-size: 10px;
      line-height: 14px;

      top: 15px;
      right: 15px;
    }
    &__btn {
      margin-top: 21px;
      display: flex;
    }
  }
}

@media (max-width: 360px) {
  .vitamins {
    &__item {
      width: 100%;
      height: auto;
    }
    &__img {
      padding: 30px 20px 0;
    }
    &__info {
      padding: 32px 20px 20px;
    }
    &__tag {
      height: auto;
    }
    &__name {
      margin-top: 10px;
    }
    &__price {
      margin-top: 15px;
    }
    &__btn {
      margin-top: 0;
    }
  }
}
