.aside {
  &__list {
    margin-top: 22px;
    width: 217px;
    display: flex;
    flex-direction: column;
    gap: 43.5px;
  }

  &__list-item {
    font-family: 'Effra';
    font-weight: 400;
    font-size: 22px;

    cursor: pointer;
    transition: all 0.1s;

    &:hover {
      font-weight: 700;
    }

    &_active {
      font-weight: 700;
    }

    &_sign-out {
      color: $color-red;
    }
  }
}
