.change-pass {
  margin-top: 10px;
  width: 444px;

  &__title {
    font-family: 'Effra';
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: $color-black;
  }

  &__form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 5px;
      padding-left: 1px;
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: $color-black;
      opacity: 0.5;
    }
  }

  &__old,
  &__new,
  &__confirm {
    padding-left: 24px;
    height: 56px;

    background: $color-bg;
    border: none;
    border-radius: 12px;

    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: $color-black;

    &:focus {
      outline: none;
    }
  }

  &__btn {
    margin-top: 10px;
    margin-left: 2px;

    width: 154px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: $color-main-orange;
    border: 1px solid $color-main-orange;
    border-radius: 100px;

    font-family: 'Effra';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $color-white;

    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background: $color-white;
      color: $color-black;
    }

    &_disable {
      background: $color-gray;
      border-color: $color-gray;
      &:hover {
        background: $color-gray;
        color: $color-white;
      }
    }
  }
}

.form__input_invalid {
  border: 1px solid $color-red;
}

.warningChange {
  margin-bottom: 31px;
  height: auto;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $color-main-orange;
}

@media (max-width: 768px) {
  .change-pass {
    margin: 10px auto 0;

    &__btn {
      margin-left: 0;
      width: 100%;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

@media (max-width: 520px) {
  .change-pass {
    width: 100%;

    &__title {
      font-size: 24px;
      line-height: 29px;
    }

    &__form {
      margin-top: 30px;
    }
  }
  .warningChange {
    margin-bottom: 26px;
  }
}
